---
# Host variables for {{ item.name }}
cluster_name: "{{ item.cluster.display | default('Unknown') }}"
vm_name: "{{ item.name | default('Unknown') }}"
memory: "{{ item.memory | default('Unknown') }}"
vcpus: "{{ item.vcpus | default('Unknown') }}"
disk: "{{ item.disk | default('Unknown') }}"
operating_system: "{{ item.platform.display | default('Unknown') }}"
status: "{{ item.status.label | default('Unknown') }}"
site: "{{ item.site.display | default('Unknown') }}"
tenant: "{{ item.tenant.display | default('Unknown') }}"

# Site Information
site_name: "{{ item.site.name | default('Unknown') }}"
site_description: "{{ item.site.description | default('Unknown') }}"
site_physical_address: "{{ item.site.physical_address | default('Unknown') }}"
site_shipping_address: "{{ item.site.shipping_address | default('Unknown') }}"
site_status: "{{ item.site.status.label | default('Unknown') }}"
